<nav id="mainNavigation" class="frosted-glass flex col bold-text open">
  <div id="navContent">
    <div id="navigationFrame" class="flex col full-width padding-2 scroll-y">
      <ul class="padding-v-2">
        {% include navigation/tutorials.liquid %}
        {% include navigation/modules.liquid %}
        {% include navigation/types.liquid %}
      </ul>
    </div>
    {% include navigation/footer.liquid %}
  </div>
</nav>
