#content {
  padding: 0 var(--space-2);
  flex: 1;
  max-height: 100%;
  overflow: scroll;
  div {
    width: 100%;
    max-width: 840px;
    margin: auto;
  }
}

@media (min-width: 860px) {
  #content {
    margin: auto;
    padding: 0 var(--space-1);
  }
}


// @media (max-width: 1300px) {
//   #content {
//     max-width: 760px;
//   }
// }