.container {
  max-width: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

// above 720px wide we want to display desktop styles

@media (max-width: 860px) {
  .container {
  }
}