@import './utilities.scss';

#mainNavigation {
  min-width: 320px;
  height: 100%;
  left: 0px;
  position: fixed;
  overflow: hidden;
  transform: translate3d(-100%, 0, 0);
  border-right: 1px solid var(--frame-border-color);
  box-shadow: var(--box-shadow-1), var(--box-shadow-2);
  transition: opacity 125ms ease;
  z-index: 2;
  opacity: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  #navContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    #navigationFrame {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    ul,
    ol {
      width: 100%;
      list-style: none;
      li {
        ul, ol {
          li {
            position: relative;
            &:before {
              width: calc(1.309rem - 2px);
              height: calc(100% + 1px);
              border-left: 2px solid var(--nav-tree-color);
              border-bottom: 2px solid var(--nav-tree-color);
              left: calc(0.309rem + 2px);
              top: 0px;
              transform: translateY(-50%);
              content: '';
              display: block;
              position: absolute;
              z-index: -1;
            }
          }
        }
        ol {
          .marker {
            font-family: monospace;
            font-weight: 700;
            font-size: 0.9rem;
            //ackground: var(--accent);
            color: var(--accent);
            justify-content: center;
            text-decoration: none;
            display: flex;
            align-items: center;
            line-height: 0;
            margin: 0 var(--space-3) 0 0;
          }
        }
  
        button,
        a {
          text-decoration: none;
          &:focus {
            .menuItemText {
              background: var(--nav-focus-background);
              color: var(--nav-focus-color);
              svg {
                fill: var(--accent-2)
              }
              .marker {
                color: var(--accent-2);
              }
            }
          }
  
          &:hover {
            .menuItemText {
              color: var(--nav-hover-foreground);
            }
          }
        }
      }
    }
  }
  

  &.open {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


#navButton {
  width: var(--nav-button-size);
  height: var(--nav-button-size);
  margin: 0 0 0 var(--section-padding);
  color: var(--foreground-primary);
  border: unset;
  background: unset;

  &:focus {
    outline-offset: var(--outline-offset);
    outline: var(--outline);
  }
}


/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.accordion-panel[hidden] {
  display: none !important;
}

@media (min-width: 860px) {
  #mainNavigation {
    width: 37.8%;
    max-width: 400px;
    position: relative;
    left: 0px;
    backdrop-filter: unset;
    background: unset;
    transform: unset;
    opacity: unset;
    transition: unset;
    box-shadow: unset;
  }

  #navButton {
    display: none;
  }
}


@media (max-width: 1300px) {
  #mainNavigation {
    max-width: 300px;
  }
}
