#searchFieldWrap {
  position: relative;
  width: 100%;

  input[type="search"] {
    padding: var(--padding-reg) var(--section-padding) var(--padding-reg) var(--padding-reg);
    min-width: 100%;
    color: var(--foreground-primary);
    margin: 0 0 var(--section-padding) 0;
  }

  #searchLabel {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0;
    padding: var(--padding-reg);
    display: flex;
    align-items: center;
  }

  input[type="search"]:focus+label,
  #searchLabel.hidden {
    visibility: hidden;
  }

  #searchIcon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: .31rem;
    top: 0.5rem;
    z-index: 0;
    fill: var(--placeholder-color);
  }

  z-index: 9;
}

#searchResultsBox {
  position: absolute;
  background: var(--background-secondary);
  left: calc(var(--section-padding) + 2px);
  border-radius: var(--button-radius);
  border: var(--button-border);
  outline: var(--outline);
  outline-offset: var(--outline-offset);
  z-index: 9;
  overflow-y: hidden;
  animation: fadeInUp 125ms ease both;
  border: var(--button-border);
  max-height: 75%;
  width: 100%;

  &:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--accent);
    width: 10px;
    height: 10px;
    top: -13px;
    position: absolute;
    left: var(--section-padding);
    content: "";
    display: block;
  }

  &.hidden {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--button-border);
    padding: var(--padding-reg) var(--section-padding);

    #searchBoxControls {
      display: flex;
      flex-direction: row;
      align-content: center;

      #searchClose {
        --webkit-appearance: none;
        border: unset;
        outline: none;
        position: relative;
        background: var(--foreground-primary);
        border: var(--button-border);
        width: var(--button-height);
        height: var(--button-height);
        border-radius: 50%;
        margin: 0 0 0 var(--section-padding);

        &:after {
          position: absolute;
          width: 52px;
          height: 52px;
          top: 50%;
          left: 50%;
          content: " ";
          display: block;
          transform: translate(-50%, -50%);
        }

        svg {
          fill: var(--red);
          width: var(--full-line);
          height: var(--full-line);
          border-radius: var(--button-radius);
        }

        &:focus {
          outline: var(--outline);
          outline-offset: var(--outline-offset);
        }
      }

      .toggleButtons {
        position: relative;
        border: unset;
        display: flex;
        flex-direction: row;

        &:hover {
          background: inherit;
        }

        input {
          opacity: 0;
          width: 0px;
          height: 0px;
          margin: 0;
          padding: 0;
          position: absolute;

          &:checked+label {
            background: var(--nav-tree-color);
            color: var(--accent);
          }

          &:focus+label {
            outline: var(--outline);
            z-index: 9;
          }
        }

        label {
          display: flex;
          height: var(--button-height);
          border-right: var(--button-border);
          padding: var(--padding-min) var(--padding-reg);
          justify-content: center;
          align-items: center;
          border: var(--button-border);
          position: relative;
          font-weight: 700;

          &:hover {
            background: var(--button-background-hover);
          }

          &:first-of-type {
            border-top-left-radius: var(--button-radius);
            border-bottom-left-radius: var(--button-radius);
            border-right: unset;
          }

          &:last-of-type {
            border-left: unset;
            border-top-right-radius: var(--button-radius);
            border-bottom-right-radius: var(--button-radius);
          }
        }
      }
    }



    h6 {
      font-size: 1rem;
      font-weight: 900;
      display: flex;
      margin: 0;
      align-items: center;
      flex-direction: row;
      color: var(--foreground-primary);

      #numberOfResults, #numberResultsShowing {
        margin-right: var(--padding-reg);
      }
      #numberOfResults {
        margin-left: var(--padding-reg);
      }
    }

  }

  #resultList {
    list-style: none;
    padding: 0 var(--section-padding);
    margin: 0;
    overflow-y: scroll;
    display: flex;
    max-height: 500px;
    flex-direction: column;

    li {
      padding: var(--padding-med) 0;
      display: flex;
      flex-direction: row;

      &:focus {
        background: var(--accent);
      }

      section {
        overflow: hidden;

        a {
          display: block;
          padding: var(--padding-min) 0;
          font-size: 1rem;
          font-weight: 900;
          text-decoration: none;
          height: unset;
        }

        p {
          margin: 0;
          padding: var(--padding-min) 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:before {
        content: "U";
        display: flex;
        background: var(--purple);
        font-size: 0.9rem;
        min-width: 3.2rem;
        min-height: 3.2rem;
        font-family: "Retro Pixel Petty 5X5";
        color: var(--background-primary);
        border-radius: var(--button-radius);
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 var(--padding-med) 0 0;
      }

      &.interface {
        &:before {
          content: "I";
          display: inline-flex;
          background: var(--cyan);
        }
      }

      &.method {
        &:before {
          content: "M";
          display: inline-flex;
          background: var(--green);
        }
      }

      &.type {
        &:before {
          content: "T";
          display: inline-flex;
          background: var(--cyan);
        }
      }

      &.class {
        &:before {
          content: "C";
          display: inline-flex;
          background: var(--pink);
        }
      }

      border-bottom: var(--button-border);
    }
  }
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--frosted-background);
  backdrop-filter: var(--frosted-backdrop);
  z-index: 0;
  animation-name: fadeIn;
  animation-duration: 250ms;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1000px) {
  #searchResultsBox {
    width: 1000px;
  }
}