#themeChanger {
  position: relative;
  width: var(--full-line);
  height: var(--full-line);
  input[type="checkbox"] {
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  svg {
    position: absolute;
    top: 0px;
  }

  figure {
    color: var(--accent);

    #darkIcon {
      display: none;
    }

    #lightIcon {
      display: block;
    }

    &:hover {
      color: var(--accent-2);
    }
  }


  input[type=checkbox] {
    &:checked+ {
      figure {

        #lightIcon {
          display: none;
        }

        #darkIcon {
          display: block;
        }
      }
    }
  }
}